* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
body {
    background-image: linear-gradient(to right top,#081b29, black);
    color: #ededed;
}
header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    background: transparent;
}

.navbar {
    display: flex;
}
.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}
.navbar a:hover,
.navbar a.active {
    color: #00abf0;
    transition: .3s;
}
#menu-icon {
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
}

.logo {
    font-size: 25px;
    font-weight: 600;
    color: #ededed;
    text-decoration: none;
}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
}

.home-content p {
    font-size: 16px;
}

.btn {
    background-color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 0.5px;
    padding: 10px 20px;
    border-radius: 5000px;
    transition: all 0.3s;
}

.btn:hover {
    transform: scale(1.15);
}

.btn--contact {
    animation: fade-down 0.5s 0.4s backwards;
}

.btn--download {
    padding: 16px 32px;
    font-size: 16px;
    position:fixed;
    top: 675px;
    z-index: 100;
    box-shadow: 0 6px 23px rgba(0, 0, 0, 0.45);
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}